{{!--
    This software was developed at the National Institute of Standards and
    Technology by employees of the Federal Government in the course of
    their official duties. Pursuant to title 17 Section 105 of the United
    States Code this software is not subject to copyright protection and is
    in the public domain. This software is an experimental system. NIST assumes
    no responsibility whatsoever for its use by other parties, and makes no
    guarantees, expressed or implied, about its quality, reliability, or
    any other characteristic. We would appreciate acknowledgement if the
    software is used.
--}}

<div>
    <div>
        <input type="checkbox" id="{{activeCheckboxId}}"/>
        <label for="{{activeCheckboxId}}">Annotation mode</label>
    </div>
    <div id="controls">
        <!--<div class="btn-group" id="drawControl">-->
            <!--<button type="button" class="btn btn-default" id="draw">-->
              <!--<span class="glyphicon glyphicon-pencil"></span>-->
            <!--</button>-->
            <!--<button type="button" class="btn btn-default" id="rectangle">-->
<!--&lt;!&ndash;               <span class="glyphicon glyphicon-unchecked"></span> &ndash;&gt;-->
              <!--<span class="glyphicon"><img src="{{imagesPrefix}}rectangle.svg" style="width:16px;height:16px;"></span>-->
              <!--<span class="fa fa-mouse-pointer fa-lg"></span>-->
            <!--</button>-->
            <!--<button type="button" class="btn btn-default" id="circle">-->
              <!--<span class="glyphicon"><img src="{{imagesPrefix}}circle.svg" style="width:16px;height:16px;"></span>-->
              <!--<span class="fa fa-mouse-pointer fa-lg"></span>-->
            <!--</button>-->
        <!--</div>-->

        <div class="widget" id="drawControl">

            <!--<fieldset>-->
                <!--<label for="draw">Pencil</label>-->
                <span class="ui-icon ui-icon-pencil"style="width:16px;height:16px;"></span>
                <input type="radio" name="rad" value="draw" id="draw" class="chb">

                <span><img src="{{imagesPrefix}}rectangle.svg" style="width:16px;height:16px;"></span>
                <input type="radio" name="rad" value="rectangle" id="rectangle" class="chb">

                <span><img src="{{imagesPrefix}}circle.svg" style="width:16px;height:16px;"></span>
                <input type="radio" name="rad" value="circle" id="circle" class="chb">

            <!--</fieldset>-->
        </div>


        <input type="color" id="colorpicker" value="#000000"/>
<!--         <input type="number" id="lineWidth" value="1"/> -->
       
<!--         <div class="btn-group" id="modelControl">
            <label for="models">
                models : 
                <select id="models">
                    {{#each models}}
                    <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
            </label>
        </div> -->

    </div>
    <div id="commands">
        <span><button id="import">import</button></span>
         <input id="file-input" type="file" name="name" style="display: none;" />
        <span id="list-controls">
            <span><button id="export">export</button></span>
            <label for="sort"> Sort By </label>
            <select id="sort">
              <option disabled selected value></option>
              <option value="shape">Shape</option>
              <option value="color">Color</option>
              <option value="labels.annotationText">Annotations</option>
            </select>
        </span>
    </div>
    <div id="annotation-list-container">
        <div id="annotation-list-content">
            <div id="annotationList" class="wdzt-distance-measurement-table"></div>
        </div>
    </div>
</div>
<!--<script>-->
    <!--$( function() {-->
        <!--$( "input" ).checkboxradio();-->
    <!--} );-->
<!--</script>-->


<!--<script>-->
    <!--$('#drawControl input').button();-->
    <!--$('#draw').prop('checked', true).button("refresh");-->
<!--</script>-->

<!--<script>-->
    <!--$( "input[type='radio']" ).checkboxradio();-->
<!--</script>-->

<!--<script src="https://code.jquery.com/jquery-1.12.4.js"></script>-->
<!--<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>-->