{{!--
    This software was developed at the National Institute of Standards and
    Technology by employees of the Federal Government in the course of
    their official duties. Pursuant to title 17 Section 105 of the United
    States Code this software is not subject to copyright protection and is
    in the public domain. This software is an experimental system. NIST assumes
    no responsibility whatsoever for its use by other parties, and makes no
    guarantees, expressed or implied, about its quality, reliability, or
    any other characteristic. We would appreciate acknowledgement if the
    software is used.
--}}

{{#if layers}}
<fieldset>
    <legend>Layers to fetch</legend>
    <div class="wdzt-table-layout">
        {{#each layers}}
        <div class="wdzt-row-layout">
            <label for="{{../prefix}}-{{id}}-{{../suffix}}"
                   class="wdzt-cell-layout wdzt-no-wrap">
                {{name}}
            </label>
            <input type="checkbox"
                   id="{{../prefix}}-{{id}}-{{../suffix}}"
                   class="wdzt-cell-layout"
                   name="{{id}}" />
        </div>
        {{/each}}
    </div>
</fieldset>
{{/if}}
